html {
  height: 100%;
  width: 100%;
}

body{
  background-image: url("risk-map.png");
  background-size: 100% 100%; 
  background-repeat: no-repeat; 
  background-position: center; 
  overflow: hidden;
  margin: 0;
  padding: 0;
}
svg{
  position: absolute;
  stroke: #3f5787;
  transition: all 0.3s ease;
  width: 1800px;
  height: 766px;
  top: -27px;
  left: -15px;
}
path{
  transition: all 0.3s ease;
   
}

#japan{
  width: 1366px;
  height: 678px;
  top: -7px;
  left: -2px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;

  
}
#japan:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#newginue{
  width: 1366px;
  height: 643px;
  top: -35px;
  left: 26px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;

  
}
#newginue:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#indoneisa{
  width: 1366px;
  height: 625px;
  top: -23px;
  left: 33px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;

  
}
#indoneisa:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#westernaustarla{
  width: 1366px;
  height: 648px;
  top: -45px;
  left: 25px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;

  
}
#westernaustarla:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#eastaussie{
  width: 1366px;
  height: 646px;
  top: -44px;
  left: 27px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;

}
#eastaussie:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#mongola{
  width: 1477px;
  height: 718px;
  top: -13px;
  left: -27px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#mongola:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#irktsk{
  width: 1379px;
  height: 723px;
  top: -10px;
  left: 19px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#irktsk:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#kamchakta{
  width: 1451px;
  height: 722px;
  top: -6px;
  left: -10px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#kamchakta:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#yaustsk{
  width: 1451px;
  height: 722px;
  top: -6px;
  left: -16px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
  
}
#yaustsk:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#siberea{
  width: 1599px;
  height: 702px;
  top: -6px;
  left: -89px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#siberea:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#china{
  width: 1599px;
  height: 667px;
  top: 5px;
  left: -70px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#china:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#salm{
  width: 1618px;
  height: 741px;
  top: -33px;
  left: -110px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#salm:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#india{
  width: 1618px;
  height: 717px;
  top: -18px;
  left: -107px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#india:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#ural{
  width: 1633px;
  height: 729px;
  top: -12px;
  left: -120px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#ural:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#afganastan{
  width: 1633px;
  height: 689px;
  top: -3px;
  left: -111px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#afganastan:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#mideast{
  width: 1633px;
  height: 713px;
  top: -19px;
  left: -123px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#mideast:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#madgascar{
  width: 1633px;
  height: 689px;
  top: -7px;
  left: -114px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#madgascar:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#southaf{
  width: 1721px;
  height: 689px;
  top: -6px;
  left: -169px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#southaf:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#congo{
  width: 1655px;
  height: 689px;
  top: -5px;
  left: -139px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#congo:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#eastafrica{
  width: 1751px;
  height: 689px;
  top: -5px;
  left: -181px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#eastafrica:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#egypt{
  width: 1633px;
  height: 689px;
  top: -5px;
  left: -130px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#egypt:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#northafrica{
  width: 1992px;
  height: 689px;
  top: -3px;
  left: -318px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#northafrica:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#ukrane{
  width: 1887px;
  height: 688px;
  top: -3px;
  left: -249px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#ukrane:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#scans{
  width: 1633px;
  height: 703px;
  top: -6px;
  left: -130px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#scans:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#neuro{
  width: 2096px;
      height: 680px;
      top: -2px;
      left: -364px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
  }
#neuro:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#seuro{
  width: 1633px;
  height: 703px;
  top: -11px;
  left: -132px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#seuro:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#weuro{
  width: 1633px;
      height: 703px;
      top: -11px;
      left: -142px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#weuro:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#britan{
  width: 1633px;
  height: 703px;
  top: -9px;
  left: -145px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#britan:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#iceland{
  width: 1633px;
  height: 703px;
  top: -5px;
  left: -143px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#iceland:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#argenentina{
  width: 1633px;
  height: 703px;
  top: -17px;
  left: -163px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#argenentina:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#peru{
  width: 1633px;
  height: 694px;
  top: -11px;
  left: -168px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#peru:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#brazil{
  width: 1891px;
  height: 694px;
  top: -11px;
  left: -290px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#brazil:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#vendes{
  width: 1891px;
  height: 694px;
  top: -9px;
  left: -297px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#vendes:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#centralmurca{
  width: 1633px;
  height: 694px;
  top: -7px;
  left: -180px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#centralmurca:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#eus{
  width: 2000px;
  height: 688px;
  top: -5px;
  left: -359px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#eus:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#wus{
  width: 1633px;
  height: 694px;
  top: -7px;
  left: -180px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#wus:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#qubec{
  width: 1681px;
  height: 694px;
  top: -4px;
  left: -189px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#qubec:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#onario{
  width: 1681px;
  height: 694px;
  top: -4px;
  left: -195px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
       }
#onario:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#alberta{
  width: 2030px;
  height: 694px;
  top: -4px;
  left: -377px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#alberta:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#alaska{
  width: 1681px;
  height: 694px;
  top: -4px;
  left: -214px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#alaska:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#nwt{
  width: 1851px;
  height: 694px;
  top: -4px;
  left: -283px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#nwt:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
#gland{
  width: 1851px;
  height: 694px;
  top: -4px;
  left: -266px;
  filter: drop-shadow(0 0 0px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#3f5787; 
  stroke-width :2.732;
}
#gland:hover{
  filter: drop-shadow(0 0 5px gold);
  fill : rgb(79, 79, 79,.5); 
  stroke :#c0b216; 
  stroke-width :3;
}
.data{
  position: absolute;
  display:flex;
  width: 273px;
  height: 184px;
  flex-direction: column;
  justify-content: center;
  top: 490px;
  text-align: center;
  background-image: url("download.jpg");
  background-repeat: no-repeat;
  
}
.troop_move{
  position: absolute;
  display:flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  text-align: center;
  background-color:rgb(79, 79, 79,.5);
  z-index: 10;

}
.troop_move img {
  position: absolute;
  width: 30%;
  height: 50%;
}
.troop_menu{
  position: absolute;
  width: 32%;
  height: 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
}
.troop_menu p{
  background-color:rgb(255, 255, 255);
  margin: -12px;
  padding: 27px;
  border-style: solid;
  border-width: 2px;
  
}
.battlemenu{
  position: absolute;
  display:flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  text-align: center;
  background-color:rgb(79, 79, 79,.5);
  z-index: 12;

}
#win_screen{
  position: absolute;
  display:flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  text-align: center;
  background-color:rgb(194, 96, 31);
  z-index: 15;
}
#main_menu{
  position: absolute;
  display:flex;
  width: 100%;
  height: 200%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content:space-around;
  top: -440px;
  left: 0px;
  text-align: center;
  background-image:url("stone wall.jpg");
  filter: brightness(1);
  z-index: 16;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0px;
}

.torch{
  width: 85px;
  height: 182px;
  border-radius: 3%;
  position: absolute;
  background-color: #2e1302;
  background:linear-gradient( 
    #8b7808 5%, 
    #2e1302 25%);
background-repeat: repeat;

background-position: center;
background-color: #b5dc89;
}
label{
  font-size: 10px;
  font-weight: 200;
  font-size: 25px;
  font-weight: 600;
  background-color:rgb(185, 184, 127);
  border:6px solid black ;
  padding: 5px;
}
#TITLE_SCREEN{
    font-size: 90px;
    font-weight: 20;
    background-color: rgb(201, 199, 71);
    color: #b83636;
    border: 6px solid black;
}
#qtt1{
  position: absolute;
  top: 760px;
  left: 350px;
}
#qtt2{
  position: absolute;
  top: 760px;
  left: 920px;
}
#fire1{
  position: absolute;
  stroke: #ec7009;
  width: 180px;
  height: 76px;
  top: 0px;
  left: 0px;
}

#main_menu > h1{
  padding: 0px;
}
#e{
  background-color:rgb(185, 184, 127);
  border-width: 12px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: background-color 1s;
}
#e:hover{
  background-color:rgb(221, 21, 21);



  
}
#twg{
  background-color:rgb(185, 184, 127);
  padding-left: 10px;
  border-width: 6px;
  aspect-ratio: 1/1;
  border-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin-right: 100px;
  transition: background-color 1s;
}
#twg:hover{
  background-color:rgb(221, 169, 25);
}
#main_menu > label{
  border-width: 6px;
  aspect-ratio: 1/1;
  border-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin-right: 100px;
}



.battlemenu_left{
  position:absolute;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 600px;
}
.battlemenu_right{
  position:absolute;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 600px;
}
.face {
    display: grid;
    grid-template-areas:
        "a . c"
        "b g f"
        "d . e";
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    flex: 0 0 auto;
    margin: 16px;
    padding: 10px;
    width: 104px;
    height: 104px;
    background-color: #e7e7e7;
    box-shadow: inset 0 5px white, inset 0 -5px #bbb, inset 5px 0 #d7d7d7, inset -5px 0 #d7d7d7;
    border-radius: 10%;
}
.pip {
    display: block;
    align-self: center;
    justify-self: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #cccccc;
    box-shadow: inset 0 3px #aaa, inset 0 -3px #eee;
}
.pip:nth-child(1) {
    grid-area: a;
}
.pip:nth-child(2) {
    grid-area: b;
}
.pip:nth-child(3) {
    grid-area: c;
}
.pip:nth-child(4) {
    grid-area: d;
}
.pip:nth-child(5) {
    grid-area: e;
}
.pip:nth-child(6) {
    grid-area: f;
}

#queston{
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  left:0px;
  top: -90px;
  width: 100%;
  height: 100%;
}
#comfirm{
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  left: 713px;
  top: 413px;
}
#cancel{
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  left: 599px;
  top: 415px;
}
#test_that{
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  left: 599px;
  top: 415px;
  border-radius: 20%;
  background-color: #cccccc;
  width: 320px;
  height: 180px;
}
.line {
  position:absolute;
  top: -20px;
  left: -20px;
  transform: rotate(0deg);
  transform-origin: 0px 0px;
    width: 30px;
    height: 5px; /* Adjust the height for the thickness of the line */
   background-image: repeating-linear-gradient(
      to right,
      #2e1302,
      #2e1302 5px,
      transparent 5px,
      transparent 10px
    );
    animation: shiftDashes 1s linear infinite;
  

}
#resultdddd{
  position: absolute;
  top: 560px;
  left: 516px;
  margin: 16px;
  padding: 10px;
  width: 201px;
  height: 35px;
  border-radius: 10%;
  border-width: 4px;
  border-style: solid;
  background-color: #d4d671;
}
#w0od{
  position: absolute;
  top: 524px;
  left: 594px;
  margin: 16px;
  padding: 10px;
  width: 72px;
  height: 36px;
}
#switch{
  position: absolute;
  z-index: 9;
  border:solid 3px #7c6b58;
  background-color: rgb(196, 182, 162);
  width: 60px;
  height: auto;
}
#color{
  position: absolute;
  top:20px;
  z-index: 9;
}
#turng{
  position: absolute;
  top: 3px;
  left: 507px;
  z-index: 9;
  border:solid 3px #7c6b58;
  background-color: rgb(196, 182, 162);
  width: 60px;
}
#defend{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200%;
  height: 100%;
  background-color:rgb(79, 79, 79,.5);
  z-index: 11;
}
#ca{
  background-color:rgb(185, 184, 127);
  padding-left: 10px;
  border-width: 6px;
  aspect-ratio: 1/1;
  border-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin-right: 100px;
  transition: background-color 1s;
}
#cars{
  position: absolute;
    top: 205px;
    left: 376px;
    background-color: rgb(132, 131, 92);
    width: 500px;
    height: 300px;
    padding: 40px;
    border-radius: 10%;
    border:solid 6px #000000;
}
#cancett{
  top: -1px;
  left: 1274px;
  width: 90px;
  height: 30px;
  border: solid 3px #7c6b58;
  background-color: rgb(196, 182, 162);
  position: absolute;
  z-index: 7;
}

#turnw{
  position: absolute;
    top: -25px;
    left: 605px;
    width: 13px;
    height: 25px;
    background-color: rgb(255, 255, 255, .5);
    border:2px solid black ;
    aspect-ratio: 1 / 1;
    font-size: 25px;

}
#rezz{
  position: absolute;
  top: 80px;
}
#turnu{
  border: solid 3px #7c6b58;
    background-color: rgb(196, 182, 162);
    position: absolute;
    top: -16px;
    left: 69px;
}
#uius{
  position:absolute;
  width: 100%;
  height: 4%;
  top: 0px;
  background-color: #7c6b58;
  
}

#up{
  background-color:rgb(185, 184, 127);
  border-width: 12px;
  aspect-ratio: 1/1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 50px;
  border-color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transition: background-color 1s;
}
#down{
  background-color:rgb(185, 184, 127);
  border-width: 12px;
  aspect-ratio: 1/1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 50px;
  border-color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transition: background-color 1s;
}
#send{
  background-color: rgb(185, 184, 127);
  border-width: 6px;
  width: 64px;
  height: 680px;
  font-size: 50px;
  border-color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transition: background-color 1s;
  padding: 3px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 184px;
  transition: top 1s;
}
#warning{
  background-color: rgb(218, 21, 21);
    border-width: 6px;
    width: auto;
    height: 20px;
    font-size: 19px;
    border-color: rgb(148, 53, 53);
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: -16px;
    left: 624px;

}



@keyframes shiftDashes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10px 0;
  }
}